<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Upload de arquivo CSV</title>
</head>
<body>
<br><br>
<div class="container d-flex justify-content-center align-items-center">
    <!-- Formulário para envio de arquivo -->
    <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="formFile" class="form-label"><h2>Selecione o arquivo</h2></label>
            <input class="form-control" type="file" id="formFile" name="file">
        </div>
        <button type="submit" class="btn btn-primary btn-upload">Enviar</button>
    </form>

    <!-- Formulário separado para gerar o gráfico -->
    <form action="{{ url_for('generate_graph') }}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="action" value="generate_graph">
        <input type="file" style="display: none;" name="file"> <!-- Campo oculto para o arquivo -->
        <button type="submit" class="btn btn-success btn-generate-graph">Gerar Gráfico</button>
    </form>
</div>
</body>
</html>
